.formik {
    @apply relative mt-2
}

.input {
    @apply absolute p-5 top-0 left-0 w-full h-full border rounded-md bg-transparent outline-none transition-all shadow-none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 0px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

.label {
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    @apply absolute left-3 top-3 px-2 cursor-text pointer-events-none
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label,
.input:-webkit-autofill+.label {
    top: -0.5rem;
    left: 0.8rem;
    font-size: 0.8rem;
}

.submit {
    @apply flex justify-center border border-black tracking-wider rounded-md w-1/2 m-auto my-1 mt-2 py-1 opacity-80
}

.dark .dark\:test {
    @apply bg-yellow-300 text-gray-800
}

.test {
    @apply bg-blue-400
}

.errLogin {
    @apply text-red-500 text-sm break-words w-5/6 flex pt-1
}