@tailwind base;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.dark {
    @apply bg-white text-gray-800;
}

.light {
    @apply bg-gray-100;
}

.anime {
    @apply transition duration-500;
}

body,
html {
    width: 100%;
    height: 100vh;
}

.init {
    @apply h-screen flex justify-center items-center;
}

@tailwind components;
@tailwind utilities;