input[type="file"] {
    @apply cursor-pointer p-1 outline-none
}

.input::before {
    content: "Wybierz se jakąś fotkę : ";
}

.input::-webkit-file-upload-button {
    @apply hidden
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}